# Titanic: starter ML competition

## Setup

In [4]:
import pandas as pd
import numpy as np

train_df = pd.read_csv('./data/train.csv')
test_df = pd.read_csv('./data/test.csv')

print(train_df)
print(train_df.info())

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

## Explore columns for missing/unusual data

In [3]:
train_df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [27]:
allowed_vals = {'Survived': [0, 1]}

train_df['Parch'].value_counts(dropna=False)
print(train_df['Embarked'].value_counts(dropna=False))


print(train_df[train_df['Embarked'].isnull()])

Embarked
S      644
C      168
Q       77
NaN      2
Name: count, dtype: int64
     PassengerId  Survived  Pclass                                       Name  \
61            62         1       1                        Icard, Miss. Amelie
829          830         1       1  Stone, Mrs. George Nelson (Martha Evelyn)

        Sex   Age  SibSp  Parch  Ticket  Fare Cabin Embarked
61   female  38.0      0      0  113572  80.0   B28      NaN
829  female  62.0      0      0  113572  80.0   B28      NaN

In [28]:
print(train_df[train_df['Ticket'].duplicated()])

     PassengerId  Survived  Pclass  \
24            25         0       3
71            72         0       3
88            89         1       1
117          118         0       2
119          120         0       3
..           ...       ...     ...
876          877         0       3
879          880         1       1
880          881         1       2
885          886         0       3
888          889         0       3

                                              Name     Sex   Age  SibSp  \
24                   Palsson, Miss. Torborg Danira  female   8.0      3
71                      Goodwin, Miss. Lillian Amy  female  16.0      5
88                      Fortune, Miss. Mabel Helen  female  23.0      3
117                Turpin, Mr. William John Robert    male  29.0      1
119              Andersson, Miss. Ellis Anna Maria  female   2.0      4
..                                             ...     ...   ...    ...
876                  Gustafsson, Mr. Alfred Ossian    male  20.0      0
879  Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  female  56.0      0
880   Shelley, Mrs. William (Imanita Parrish Hall)  female  25.0      0
885           Rice, Mrs. William (Margaret Norton)  female  39.0      0
888       Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1

     Parch      Ticket      Fare        Cabin Embarked
24       1      349909   21.0750          NaN        S
71       2     CA 2144   46.9000          NaN        S
88       2       19950  263.0000  C23 C25 C27        S
117      0       11668   21.0000          NaN        S
119      2      347082   31.2750          NaN        S
..     ...         ...       ...          ...      ...
876      0        7534    9.8458          NaN        S
879      1       11767   83.1583          C50        C
880      1      230433   26.0000          NaN        S
885      5      382652   29.1250          NaN        Q
888      2  W./C. 6607   23.4500          NaN        S

[210 rows x 12 columns]

## Basic modelling
Just using some simple features to train a tree based model

In [34]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

In [35]:
#['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 
# 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked']
features = ['Pclass', 'Sex', 'Age']

X = train_df[features]
y = train_df['Survived']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=173, shuffle=True)

In [ ]:
## Model construction
model = DecisionTreeClassifier()
model.fit(X_train, y_train)
predictions = model.predict(X_test)